<header class="header">
    <div class="container">
        <div class="col-3 logo">
            <a href="/" title="logo">
                <img src="../img/logo.svg" alt="logo">
            </a>
        </div>
        <div class="col-9 user-block" id="userNavigation" style="display:none;">
            <div class="add-post" id="editor" >
                <img class="add-line" src="../img/add-line.svg" alt="">
                <span>Новый пост</span>
            </div>
            <div  class="notification">
                <img src="../img/vector.svg" alt="notification">
            </div>
            <div class="profile">
                <div class="user">
                    <span class="user-name">A</span>
                    <img class="arrow-down" src="../img/arrow-down.svg" alt="">
                    <ul class="profile-list">
                        <li>
                            <img src="../img/account-circle-line.svg" alt="">
                            <a id="profileLink" href="/profile">Профиль</a>
                        </li>
                        <li>
                            <img src="../img/settings.svg" alt="">
                            <a href="">Настройки</a>
                        </li>
                        <li>
                            <img src="../img/global-line.svg" alt="">
                            <a href="">Русский</a>
                        </li>
                        <li>
                            <img src="../img/logout.svg" alt="">
                            <a href="/exit" id="exit">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>