<aside class="sidebar col-3">
    <span class="topic-title">Популярные темы</span>
    <ul class="navigation">
        <li><a class="nav-link" href="">Новости</a></li>
        <li><a class="nav-link" href="">Биткойн</a></li>
        <li><a class="nav-link" href="">Криптоинвестиции</a></li>
        <li><a class="nav-link" href="">Трейдинг</a></li>
        <li><a class="nav-link" href="">Amir Capital</a></li>
        <li><a class="nav-link" href="">Sollar</a></li>
        <li><a class="nav-link" href="">SunnyBook</a></li>
        <li><a class="nav-link" href="">Sollar Gifts</a></li>
        <li><a class="nav-link" href="">Blockchain</a></li>
        <li><a class="nav-link" href="">Все</a></li>
    </ul>
</aside>
