<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<div class="container">
    <h2>Posts</h2>

    {{#if posts.length}}
        <ul class="list-group">
            {{#each posts}}
                {{#if isPublished}}
                    <li class="list-group-item list-group-item-action">
                        <a href="/posts/{{id}}">{{title}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    {{else}}
        <p>no posts</p>
    {{/if}}
</div>
