{{#if posts.length}}
    <ul class="list-group">
        {{#each posts}}
            {{#if isPublished}}
                <li class="list-group-item list-group-item-action">
                    <a href="/posts/{{id}}">{{title}}</a>
                </li>
            {{/if}}
        {{/each}}
    </ul>
{{else}}
    <p>no posts</p>
{{/if}}